{% extends "default.html" %}
{% block title %}Update Account{% endblock %}
{% block header %}Update Account{% endblock %}
{% block content %}
<p>
    <form method="POST" action="/update_account">
    <select name="account_name">
        {% for account in all_accounts%}
        <option value="{{account.get_key()}}">{{account.get_website_name()}} {{account.get_password()}}</option>
        {% endfor %}
    </select>
    <label> Password:</label><input type="text" name="password">
    <button type="submit">Update</button>
    </form>
</p>
{% endblock %}